<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
      <h1>Here's your new pet Randolf!</h1>
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ6epALjDxww4qGpZIvoVfLABqqsdPxqxqiGQ-U7qQGvMxNZ5eD">
    <h3>Treat him well!</h3>
    <form action = "feed">
      <button type="submit">Feed</button>
    </form>
    <form action = "play">
      <button type="submit">Play</button>
    </form>
    <form action = "sleep">
      <button type="submit">Sleep</button>
    </form>
  </body>
</html>
